<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <title>Document</title>
    <script>
        var module = angular.module("mymodule", []);
        var controller = module.controller("mycontroller", function ($scope, $http) {
            $scope.jsonAllRecords = [];
            $scope.doFetchAll = function () {
                let path = "/Show-Record";
                $http.get(path).then(doneFx, failFx);
                function doneFx(response) {
                    $scope.jsonAllRecords = response.data;
                }
                function failFx(response) {
                    alert(response.data);
                }
            }

            //// Delete Records
            $scope.doDelete = function (emvalue) {
                if (confirm("Are You Sure?") == false)
                    return;
                let path = "/Delete-from-Admin?eid=" + emvalue;
                $http.get(path).then(doneFx, failFx);
                function doneFx(response) {
                    $scope.doFetchAll();
                }
                function failFx(response) {
                    alert("Not Deleted");
                }
            }

            $scope.doBlock=function(emvalue)
            {
                let path="/block?eid="+emvalue;
                $http.get(path).then(doneFx,failFx);
                function doneFx(response)
                {
                    $scope.doFetchAll();
                }
                function failFx(response)
                {
                    alert("Not Changed");
                }
            }

            $scope.doResume=function(emvalue)
            {
                let path="/resume?eid="+emvalue;
                $http.get(path).then(doneFx,failFx);
                function doneFx(response)
                {
                    $scope.doFetchAll();
                }
                function failFx(response)
                {
                    alert("Not Changed");
                }
            }

        })
     
    </script>
</head>

<body ng-app="mymodule" ng-controller="mycontroller" ng-init="FetchAll();">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <center>
           <button type="button" class="btn btn-primary" ng-click="doFetchAll()">Fetch All Records</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">User Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Block User</th>
                        <th scope="col">Unblock User</th>
                        <th scope="col">Delete Record</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in jsonAllRecords">
                        <td>{{$index+1}}</td>
                        <td>{{obj.emailid}}</td>
                        <td>{{obj.pwd}}</td>
                        <td>{{obj.Utype}}</td>
                        <td>{{obj.status}}</td>
                        <th>
                            <input type="button" value="Block" ng-click="doBlock(obj.emailid);">
                        </th>
                        <th>
                            <input type="button" value="Resume" ng-click="doResume(obj.emailid);">
                        </th>
                        <th>
                            <input type="button" value="Delete" ng-click="doDelete(obj.emailid);">
                        </th>
                    </tr>
                    
                </tbody>
            </table>
        </center>
    </div>
</body>

</html>